footer{
    background: var(--black);
    box-shadow: inset 0px 5px 6px rgb(63, 63, 63);
    height: 12vh;
    width: 100%;   
}

footer > div{
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: space-around;
    margin: 0px auto;
    width: 30%;

}

footer div a{
    text-decoration: none;
}

footer div a img{
    height: 50px;
    width: 50px;
}